// Fonts
$normal-font: 'Didact Gothic', sans-serif;
$title-font:  'Roboto', sans-serif;
$title-font-weight: 900;
$subtitle-font-weight: 600;
$root-font-size: 1rem;
$paragraph-font-size: 1.6rem;

// Colors
$first-color: #891A2F;
$second-color: #EFCC09;
$third-color: #FFF;
$fourth-color: #F14629;
$fifth-color: #6093E8;

//
$break-small: 320px;
$break-large: 1200px;

// Media Queries
$media-sm-width: 640px;
$media-md-width: 768px;
$media-lg-width: 1024px;
$media-xl-width: 1280px;
