@import '../variables';

#about {
  // background: #fff;

  background: #891A2F;
  padding-top: 400px;
  // width: 100vw;
  // height: 100vh;
  .w-container {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $break-large) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .svg-container {
      // width: 500;
      // height: 600;
      width: 100%;
      @media screen and (max-width: $break-large) {
	width: 80%;
      }
      svg {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	@media screen and (max-width: $break-large) {
	  width: 100%;
	}
      }
    }
    .about-container {
      // width: 50%;
      width: 100%;
      text-align: center;
      justify-content: center;
      @media screen and (max-width: $break-large) {
	width: 80%;
      }
      .about-title {

      }

      .about-content {
	margin: 0;

      }
    }
  }
}
