@import '../variables';

#home {
  background: #891A2F;
  // height:100%;
  // width:100%;

  // height:100%;
  // width:100%;
  // padding-bottom: 700px;
  // background:linear-gradient(165deg, #891A2F, #891A2F 60%, #fff 60%, #fff);
  svg {
    max-width: 100%;
    width: 100%;
    @media screen and (max-width: $break-large) {
      width: 100%;
    }
  }
}
