<section id="faq">
  <div class="w-container mx-auto max-w-4xl">
    <div class="faq-container flex flex-col items-center text-xl">
      <div id="faq-title" class="flex items-center text-center justify-center">
        <svg class="absolute">
          <rect x="130" y="100" width="75" height="50"
                style="position: absolute;
                   fill: #EFCC09;
                   fill-opacity: 1;
                   z-index: -100;"/>
        </svg>

        <svg class="absolute">
          <rect x="84" y="70" width="75" height="60"
                style="stroke: #323639;
                   stroke-width: 1.5;
                   stroke-dasharray: 7 10;
                   fill: none;" />
        </svg>
        <h2 class="text-5xl title dedicated-title mb-16 mt-32" style="z-index: 99;">
          FAQs
        </h2>
      </div>
      <div id="faq-content" class="xl:flex">
        <div class="faq-list p-4">
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> What is a hackathon?</strong></h2>
            <p class="text-gray-700">
              CalvinHacks 2020, our hackathon, is a 24Hr event where you can build your ideas, network, show off, and have fun. This 24Hr event, from 8PM Friday to 8PM Saturday, will allow you to form a team, choose an idea, build it out, and show it off for a chance to win! Hundreds of students will be there, and you should come too!
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> Who can participate?</strong></h2>
            <p class="text-gray-700">
              Anyone! The event is open to programmers, artists, designers, project managers, entrepreneurs, and any student who wants to create! No prior coding or technical experience is necessary; ​all students and recent graduates (within 1 year) are​ ​welcome​ ​to​ ​participate​ ​in​ ​the​ ​hackathon!
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> What if I'm a beginner?</strong></h2>
            <p class="text-gray-700">
              While helpful, no previous programming/engineering experience is required. Mentors will be available to help you with your project, don't worry. You're guaranteed to learn, regardless of your previous experience!
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> What's the cost?</strong></h2>
            <p class="text-gray-700">
              Free! You'll even get free meals, snacks, drinks, and a t-shirt for attending!
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> What if I don't have a team or idea?</strong></h2>
            <p class="text-gray-700">
              Having a team or an idea is not required! We will have an opportunity for you to find a team. There will be a wealth of mentors to help inspire you with an idea, so don't worry about that either!
            </p>
          </div>
        </div>
        <div class="faq-list p-4">
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> How big can my team be?</strong></h2>
            <p class="text-gray-700">
              Teams consist of 1-4 people. We suggest working with others, but you can work alone if you'd like!
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> What can I make?</strong></h2>
            <p class="text-gray-700">
              You can make just about anything software or hardware related. Your imagination is the limit!
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> What should I bring?</strong></h2>
            <p class="text-gray-700">
              You should definitely bring your student ID, laptop, and charger. If you need additional hardware for your project, we suggest bringing it. We will try to provide hardware, but no guarantees! CalvinHacks is 24Hrs long, so you may also bring a sleeping bag, pillow, a change of clothes, or toiletries.
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> Can I start my project before the event?</strong></h2>
            <p class="text-gray-700">
              No, sorry! However, we encourage you to use third-party APIs, services, and frameworks during the event!
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> Is there a Code of Conduct for CalvinHacks?</strong></h2>
            <p class="text-gray-700">
              Yes as an MLH Member Event for the 2020 Season we observe the
              <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" style="color: #456990"> MLH Code of Conduct</a>.
            </p>
          </div>
          <div class="faq-item mb-8">
            <h2 class="faq-item-title mb-2"><i class="fas fa-hashtag" style="color: #EFCC09"></i><strong> Can I help out?</strong></h2>
            <p class="text-gray-700">
              Yes! We'd love to have you! Please email us at
              <a href="mailto:hacks@calvin.edu" style="color: #456990">hacks@calvin.edu</a>
            </p>
          </div>
        </div>

      </div>
      <div class="p-8 text-2xl">
        If you have any other questions, suggestions, or concerns contact us at <a href="mailto:hacks@calvin.edu" style="color: #456990">hacks@calvin.edu.</a>
      </div>
    </div>
  </div>
</section> <!-- #faq -->
