<header id="header">
  <!-- <nav class="absolute flex items-center justify-between flex-wrap bg-transparent p-6"> -->
  <nav class="absolute navbar">

    <div class="top-parts">
      <!-- <a href="#" class="logo w-full">
	   <img width:400 alt="" src="images/logo.svg"/>
	   </a> -->
      {{!-- <div class="menu-icon" id="js-navbar-toggle"> --}}
      {{!--   <i class="fas fa-bars w-full"></i> --}}
      {{!-- </div> --}}
    </div>
    <!-- <div class="w-full block flex-grow md:flex md:items-center md:w-auto"> -->
    <div class="menu-content" id="js-menu">
      <!-- <div class="text-sm md:flex-grow"> -->
	{{!-- <a href="#about" class="menu-item">About</a> --}}
	<!-- <a href="#about" class="block mt-4 md:inline-block md:mt-0 text-white hover:text-gray mr-4">About</a> -->
	<!-- <a href="#faq" class="block mt-4 md:inline-block md:mt-0 text-white hover:text-gray mr-4">FAQs</a> -->
	{{!-- <a href="#faq" class="menu-item">FAQs</a> --}}
	<!-- <a href="#sponsors" class="block mt-4 md:inline-block md:mt-0 text-white hover:text-gray mr-4">Sponsors</a> -->
	{{!-- <a href="#sponsors" class="menu-item">Sponsors</a> --}}
	<!-- <a href="#schedule" class="block mt-4 md:inline-block md:mt-0 text-white hover:text-gray mr-4">Schedule</a> -->
	{{!-- <a href="#schedule" class="menu-item">Schedule</a> --}}
	<!-- <a href="apply" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white mt-4 md:mt-0 mr-4"> -->
	<a href="https://apply.calvinhacks.com" class="menu-link-item">
	  Apply
	</a>
	<a href="/sponsor" class="menu-link-item">
	  <!-- <a href="/sponsor" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white mt-4 md:mt-0"> -->
	  Sponsor
	</a>
    </div>
  </nav>
</header>
