<section id="sponsors">
  <div class="w-container w-full">
    <div class="sponsors-container flex flex-col justify-center items-center">
      <div class="sponsors-title flex items-center text-center justify-center">
	<svg class="absolute">
	  <rect x="75" y="100" width="175" height="50"
		style="position: absolute;
		       fill: #6593E9;
		       fill-opacity: 1;
		       z-index: -100;"/>
	</svg>
	<svg class="absolute">
	  <rect x="35" y="70" width="175" height="60"
		style="stroke: #323639;
		       stroke-width: 1.5;
		       stroke-dasharray: 7 10;
		       fill: none;" />
	</svg>
	<h2 class="flex items-center justify-center text-5xl title dedicated-title mb-16 mt-32" style="z-index: 99;">
	  Sponsors
	</h2>
      </div>
      <div class="sponsors-content">
	<div id="sponsors-list" class="flex flex-col">
	  <div id="tier-1" class="flex flex-nowrap justify-center">
	  </div>
	  <div id="tier-2" class="flex flex-nowrap justify-between pb-8">
	    <a class="p-8 m-auto" href="https://www.tekton.com"><img width=700 alt="" src="../images/TEKTON.png" /></a>
	    <a class="p-8 m-auto" href="https://www.steelcase.com"><img width=800 alt="" src="../images/steelcase.svg" /></a>
	  </div>
	  <div id="tier-3" class="flex flex-nowrap items-center justify-center pb-8 pt-8">
	    <a class="p-8 m-auto" href="https://www.pectechnologies.com"><img width=150 alt="" src="../images/pec-tech.png" /></a>
	    <a class="p-8 m-auto" href="https://www.atomicobject.com"><img width=150 alt="" src="../images/atomic-object.png" /></a>
	  </div>
	  <div id="tier-3" class="flex flex-nowrap items-center justify-center pb-8 pt-8">
	    <a class="p-8 m-auto" href="https://spindance.com"><img width=250 alt="" src="../images/spindance.jpg" /></a>
	    <a class="p-8 m-auto" href="https://www.brooksource.com/"><img width=300 alt="" src="../images/brooksource.svg" /></a>
	  </div>
	  <div id="tier-3" class="flex flex-nowrap items-center justify-center pb-8 pt-8">
	    <a class="p-8 m-auto" href="https://www.blujaysolutions.com/"><img width=250 alt="" src="../images/blujay-solutions.jpg" /></a>
	    <a class="p-8 m-auto" href="https://www.calvin.edu/"><img width=250 alt="" src="../images/calvin.svg" /></a>
	  </div>
	  <div id="tier-3" class="flex flex-nowrap items-center justify-center pb-8 pt-4">
	    <a class="p-8 m-auto" href="http://hackp.ac/mlh-stickermule-hackathons"><img width=200 alt="" src="../images/stickermule.svg" /></a>
	  </div>

	</div>
	<div class="text-center p-8 text-xl mt-32">
	  Interested in sponsoring? Take a look at our
	  <a href="Sponsorship Packet.pdf" style="color: #456990">sponsorship packet</a>
	  and contact us at
	  <a href="mailto:hacks@calvin.edu" style="color: #456990">hacks@calvin.edu.</a>
	</div>
      </div>
    </div>
  </div>
</section> <!-- #sponsors -->
