<section id="sponsors">
  <div class="w-container w-full">
    <div class="sponsors-container flex flex-col justify-center items-center">
      <div class="sponsors-title flex items-center text-center justify-center">
        <svg class="absolute">
          <rect x="75" y="100" width="175" height="50"
                style="position: absolute;
                   fill: #6593E9;
                   fill-opacity: 1;
                   z-index: -100;"/>
        </svg>
        <svg class="absolute">
          <rect x="35" y="70" width="175" height="60"
                style="stroke: #323639;
                   stroke-width: 1.5;
                   stroke-dasharray: 7 10;
                   fill: none;" />
        </svg>
        <h2 class="flex items-center justify-center text-5xl title dedicated-title mb-16 mt-32" style="z-index: 99;">
          Sponsors
        </h2>
      </div>
      <div class="sponsors-content">
        <div id="sponsors-list" class="flex flex-col">
          <div id="tier-1" class="flex flex-nowrap justify-center p-2">
            <a href="https://www.atomicobject.com"><img width=550 alt="" src="../images/atomic-object.png" /></a>
          </div>
          <div id="tier-2" class="flex flex-nowrap justify-center p-2">
            <a href="https://www.tekton.com"><img width=300 alt="" src="../images/TEKTON.png" /></a>
          </div>
          <div id="tier-3" class="flex flex-nowrap justify-center p-2">
          </div>
        </div>
        <div class="text-center p-8 text-xl">
          Interested in sponsoring? Take a look at our
          <a href="data/sponsorship.pdf" style="color: #456990">sponsorship packet</a>
          and contact us at
          <a href="mailto:hacks@calvin.edu" style="color: #456990">hacks@calvin.edu.</a>
        </div>
      </div>
    </div>
  </div>
</section> <!-- #sponsors -->
