<section id="team">
  <div class="w-container mx-auto max-w-4xl">
    <div class="team-container flex flex-col items-center">
      <div id="team-title" class="flex items-center text-center justify-center">
        <svg class="absolute">
          <rect x="120" y="100" width="90" height="50"
                style="position: absolute;
                   fill: #A0A0A0;
                   fill-opacity: 1;
                   z-index: -100;"/>
        </svg>
        <svg class="absolute">
          <rect x="80" y="70" width="100" height="60"
                style="stroke: #323639;
                   stroke-width: 1.5;
                   stroke-dasharray: 7 10;
                   fill: none;" />
        </svg>
        <h4 class="text-5xl title dedicated-title mb-16 mt-32" style="z-index: 99;">
          Team
        </h4>
      </div>
      <div class="team-content flex flex-col">
        <div class="leadership-container flex flex-col mb-16">
          <h3 class="text-3xl leadership-title mb-8">
            <i class="fas fa-hashtag" style="color: #A0A0A0"></i>
            <strong>Leadership</strong>
          </h3>
          <div class="flex flex-row leadership-content">
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="staff-container flex flex-col mb-16">
          <h3 class="text-3xl staff-title mb-8">
            <i class="fas fa-hashtag" style="color: #A0A0A0"></i>
            <strong>Staff</strong>
          </h3>
          <div class="flex flex-row staff-content">
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
            <div class="profile-container">
              <div class="profile-item profile-image">
                <div class="profile-info">
                  <h4> Name </h4>
                  <p> Description </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
